<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>asd</title>
  </head>
<body>
<script>
alert('loll')
{% trans "okoi" %}

{# comment yayyy #}

{% comment %}
this should be ignored – totes.


{% endcomment %}


{% comment %}
An open comment tag will ignore all the rest
{% endcomment %}

</script>
</body>
</html>
